/* Shared Styles */

* {
    margin: 0px;
    padding: 0px;
    color: #272727;
    font-style: normal;
    font-weight: 800;


}

h1,h2,h3{

    font-family: 'lato';
    font-weight: 600;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.primary-btn {

    display: flex;
    padding: 15px 33px;
    border-radius: 5px;
    background: #E55473;
    color: aliceblue;
    border: none;
}

.featured-iteam .card-common {

    margin-top: 20px;

}

.featured-iteam .card-common p {
    text-align: center;
    padding: 10px;
}

.featured-iteam .card-common img {
    height: 300px;
    width: 220px;
    padding: 20px 20px 0px 20px;
}


.featured-heading,
.socials-heading {
    margin-top: 90px;

}

.featured-heading p,
h3,
.socials-heading p,
h3 {
    text-align: center;
    padding: 5px;

}

.featured-iteam,
.social-image {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}

.sale-offer-heading .highlighter, .shop-info .highlighter , .send-flowers .highlighter{

    color: #E55473;
}


/* Shared Styles Ends */




/* Container Style Stars */

.container {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 520px;
}

.banner {
    margin: 70px 300px 100px auto;


}

.banner h2 {
    display: flex;
    height: auto;
    width: auto;
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
}

.banner p {
    display: flex;
    margin-top: 20px;
    height: 90px;
    width: 500px;
}

.banner-img img {
    height: 500px;
    padding-top: 20px;

}

/* Container Style Ends */






/* Featured Iteams Start */




.featured-iteam .card1 img {

    border-radius: 10px;
    background: rgba(167, 33, 98, 0.15);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.featured-iteam .card2 img {

    border-radius: 10px;
    background: rgba(5, 151, 160, 0.15);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.featured-iteam .card3 img {

    border-radius: 10px;
    background-color: rgba(71, 125, 17, 0.15);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;



}

/* Featured Iteam Ends */







/*  Sale offer  */


.sale-offer {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.sale-offer-heading {
    text-align: center;
    margin-right: 150px;

}



.sale-offer-heading h3 {
    font-size: 30px;
}

.sale-offer-heading p {
    margin-top: 10px;
}

.sale-offer button {

    display: inline-block;
    margin-top: 20px;

}

.sale-offer img {
    height: 300px;
}




/* End Sale Offer */




 /* In this area i am doing the bonus part. PARALLAX by just css. 
 Permission Granted by Some respected member of Support session. */


 .parallax {
    
    background-image: url('../images/rsz_girl1.jpg');
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


 .parallax .send-flowers{
    margin-top: 300px;
    margin-right: 100px;
   text-align: center;
    float: right;
    display: block

  }

.parallax .send-flowers h4 {

   
    color: #272727;
    font-family: Lato;
    font-size: 26px;
    font-weight: 200;
    text-align: center;
}

.parallax .send-flowers button {
    margin-top: 10px;
    margin-left: 168px;
}


/* Parallax End */




/* Social Images */

.social-image {
    margin: 35px;
    text-align: center;

}

.social-image .si-card img {

    height: 90%;
    width: 90%;
    margin: 0px auto;
    padding: 0px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}


/* Latest Deal */



.latest-deal-section {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.latest-deal-section img {

    width: 1100px;
    height: 300px;
}

.deal-texts {

    position: absolute;
    top: 33%;
    left: 25%;
    
}

.deal-texts h3{
    font-size: 25px;
    margin-bottom: 10px;

}

.deal-texts p{
    font-size: 15px;
    margin-bottom: 15px;
}

.deal-texts .deal-button{
    display: flex;
}

.deal-button input {
    width: 500px;
    margin-right: 10px;
    border-radius: 2px;
    border: none;
    font-weight: 100;
    
}


/* Footer */

.shop-info {
    margin-top: 70px;
    padding-top: 100px;
    height: 200px;
    width: auto;
    background: #111010;
    text-align: center;
}

.shop-info h2, p{
   
   padding: 15px 0px;
   
}

.shop-info h2 {
    font-size: 40px;
    color: #fff;
}

.shop-info p{
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    
}


